body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.col-sm img{
  max-width: 350px
}

.carousel-item img{
  max-width: 700px;
  max-height: 500px;
  
}
